---
layout: default
---

<div class="posts   link-style-underline-on-hover   flex-row flex-wrap flex-horiz-stretch flex-horiz-center">
    {% for post in site.posts %}
    {% if post.categories contains 'Separator' %}
    <article class="post separator">
        <h1>{{ post.title }}</h1>
        <div class="entry">
            {{ post.excerpt }}
        </div>
    </article>
    {% else %}
    <article class="post   flex-column flex-vert-space-between flex-horiz-stretch {%- for class-name in post.special-theme-name %}   {{ class-name }}{% endfor %}">
        <section>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            {% if post.categories contains 'Micro' %}
            <div class="entry">
                {{ post.content }}
            </div>
            {% else %}
            <div class="entry">
                {{ post.excerpt }}
            </div>
            {% endif %}

            {% if post.social-preview-image %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ post.social-preview-image }}" class="preview" />
            </a>
            {% endif %}
        </section>

        {%- assign post-tags = '' | split: '' %}
        {%- if post.contentWarnings %}
            {%- assign post-tags = post-tags | concat: post.contentWarnings %}
        {%- endif %}
        {%- for category in post.categories %}
            {%- if category == 'Migrated' or category == 'Essay' %}
                {%- assign post-tags = post-tags | push: category %}
            {%- endif %}
        {%- endfor %}

        {% if post-tags and post-tags.size > 0 %}
        <footer>
            <ul class="chips plain   flex-row flex-horiz-leading flex-vert-baseline">
                {%- for tag in post-tags %}
                <li class="chip" disabled data-tag="{{ tag }}">{{ tag }}</li>
                {%- endfor %}
            </ul>
        </footer>
        {% endif %}

        <footer class="flex-row flex-horiz-space-between flex-vert-center">
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a. %F at %R" }}</time>

            {% unless post.categories contains 'Micro' %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="small low-emphasis button">Read More</a>
            {% else %}
            <span class="placeholder"></span>
            {% endunless %}
        </footer>
    </article>
    {% endif %}
    {% endfor %}
</div>
