// These should be transferred to the general BHStudios styles someday
// https://github.com/BlueHuskyStudios/stylesheets



[hidden] {
    display: none !important;
}



.show-only-when-js-is-enabled {
    display: none !important;
}



@media print {
    .show-only-when-js-is-enabled {
        display: none !important;
    }
}



.chips .chip {
    border-width: 0;
}


.sidebar ul .button.image-button  {
    .material-icons,
    .fab {
        font-size: 2rem;
        width: 1em;
        margin-inline-end: 0.4em;
    }
}
